#naughty_list, #nice_list {
    margin-top: 20px;
}

.gridjs-container {
    border: 2px solid #ccc;
}

.gridjs-head {
    background-color: #f5f5f5;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

.gridjs-th, .gridjs-td {
    text-align: center;
    padding: 10px;
}
